# FactSet OAuth Endpoints
TOKEN_URI=https://auth.factset.com/as/token.oauth2
WELL_KNOWN_URI=https://auth.factset.com/.well-known/openid-configuration

# Google Cloud Definitions
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=<YOUR_GCP_PROJECT>
GOOGLE_CLOUD_LOCATION=us-central1
STAGING_BUCKET=<YOUR_STAGING_BUCKET>

# Telemetry
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=True
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=True
